* {
  margin: 0;
  padding: 0;
}

body {
  background: #1f2235;
  color: #ffffff;
  font-size: 1.4em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
  font-weight: 100;
  text-align: center;
}

.row {
  background: #313552;
  color: #ffffff;
  display: inline-block;
  padding: 2em;
  margin: 2em;
  box-shadow: 0 50px 50px rgba(0, 0, 0, .2);
  border-radius: 2%;
}

.data-input {
  text-align: left;
}

.half-col {
  width:50%;
  float:left;
  overflow: auto;
}

.full-col {
  float:left;
  overflow: auto;
  width: 100%;
}

#site-title {
  padding-top: 1em;
}

.title {
  color: #368af6;
  text-align: center;
}

.entry {
  width: 99%;
  font-size: .9em;
  color: #ffffff;
  margin: 0.3em 0 1em 0;
  border: none;
  background: none;
  border-bottom: 3px solid #ffffff;
  padding: 0.5em 0.1em;
  transition: all 0.5s ease;
}

.entry:focus {
  outline: none;
  border-bottom: 3px solid #368af6;
}

.labelButton {
  text-align: center;
  display:inline-block;
  background-color:#ffffff; 
  border-radius: 10px;
  padding: 5px;
  overflow: auto;
  color: #313552;
  text-decoration: none;
} 

.labelButton:hover {
  background-color: #368af6;
  color: #ffffff;
}